.featured {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
.featuredItems {
  overflow: hidden;
  cursor: pointer;
}
.featuredItems:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.featuredImg {
  width: 100%;
  object-fit: cover;
}
